body {
	padding: 25px;
}

.inputTable {
	list-style: none;
	padding: 0;
}

.inputBox {
	display: block;
	margin-top: 20px;
}

.field {
	border: 1px solid gray;
}

.fieldFail {
	border: 1px solid red;
}